body{
  background-color: #e2d2be;
}

header{
  background-position: center;
}

h1{
  text-decoration:none;
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
  background-color: #696157;
  font-family:'Times New Roman', Times, serif;   
  color:rgb(255, 255, 255);
  text-shadow: 2px 0 2px  rgb(37, 37, 37);
  font-weight: bold;
}

.container{
  margin:auto;
  background-color:rgb(202, 183, 167);
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;

}

.auto{
  height: 250px;
  float: right;
  margin-left: 20px;
}

.d-block{
  margin: auto;

}